body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  margin:0;
  background: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  margin: 0;
  width: 100%;
  background-color: #BADA55;
  color: #f3f3f3;
}

.harmony {
  margin: 0;
  padding: 2rem 1rem;
}

.quote-wrapper {
  background-color: #fff;
  padding: 1rem 0;
}

.quote-item {
  padding: 1rem 1.5rem;
  margin: 3rem 6rem;
  border: 1px solid #939393;
  border-radius: 7px;
  box-shadow: 10px 10px 5px #999;
}

#btn {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

#btn:hover {
  background-color: #fff;
}
